/*Configuración inicial*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: "Sansation-bold";
    src: url(../../../tip/sansation_bold.ttf)
}

@font-face{
    font-family: "Sansation-regular";
    src: url(../../../tip/sansation_regular.ttf);
}

@font-face{
    font-family: "Sansation-light";
    src: url(../../../tip/sansation_light.ttf);
}

@font-face{
    font-family: "SourceSans3-regular";
    src: url(../../../tip/sourcesans3_regular.ttf);
}

@font-face{
    font-family: "SourceSans3-light";
    src: url(../../../tip/sourcesans3_light.ttf);
}

@font-face{
    font-family: "SourceSans3-extralight";
    src: url(../../../tip/sourcesans3_extralight.ttf);
}

:root{
    --primary-background-color: #FFD74D;
    --secondary-background-color: #FFFCF2;
    --card-color: #FFFEFA;
    --button-color: #FFC801;
    --font-color: #000000;
    --dark-secondary-background-color: #121212;
    --dark-card-color: #333333;
    --dark-font-color: #FFFCF2;
    --shadow-screen: 4px 4px 8px rgb(0,0,0,0.5);
    --shadow-mobile: 2px 2px 4px rgb(0,0,0,0.5);
    --dark-shadow-screen: 4px 4px 8px rgb(114,113,111,1);
    --dark-shadow-mobile: 2px 2px 4px rgb(114,113,111,1);
}

h2{
    font-family: "Sansation-bold";
    font-size: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    padding-bottom: 20px;
}

p{
    font-family: "SourceSans3-light";
    font-size: 14px;
    text-align: justify;
}

a{
    text-decoration: none;
    color: var(--font-color);
}

/*Barra de navegación*/

.barra-navegacion{
    height: 72px;
    background-color: var(--primary-background-color);
    display: grid;
    grid-template-columns: 110px 1fr 110px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.barra-navegacion section{
    display: flex;
    align-items: center;
}

.barra-navegacion div{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
    background-color: var(--primary-background-color);
}

.barra-navegacion div:hover{
    box-shadow: var(--shadow-mobile);
    cursor: pointer;
}

.barra-navegacion img{
    height: 24px;
    width: auto;
    margin: 8px;
}

.menu-hamburguesa{
    padding-left: 10px;
    position: relative;
}

.boton-inicio{
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu-derecha{
    justify-content: right;
    align-items: center;
    padding-right: 10px;
    gap: 10px
}

.boton-toggle{
    transition: background-color 1s ease;
}

/*Menú hamburguesa*/
#noDesplegado{
    display: block;
}

#desplegado{
    background-color: var(--button-color);
    position: absolute;
    top: 16px;
    width: 210px;
    height:auto;
    border-radius: 20px;
    text-align: left;
    padding-bottom: 20px;
    box-shadow: var(--dark-shadow-mobile);
    display: none;
    z-index: 3;
}

#desplegado:hover{
    cursor: default;
}

#desplegado p{
    padding: 5px 10px;
    font-family: "Sansation-regular";
}

#desplegado li{
    padding: 0 20px;
    font-family: "Sansation-light";
    font-size: 14px;
}

#desplegado a{
    text-decoration: none;
    color: var(--font-color)
}

#desplegado a:hover{
    cursor: pointer;
}

#cerrar:hover{
    cursor: pointer;
}

/*Zona principal*/

#zonaPrincipal{
    display: block;
    width: 100%;
    background-color: var(--secondary-background-color);
}

/*Menú aside*/

aside{
    width: 200px;
    height: 400px;
    text-align: right;
    flex-shrink: 0;
    display: none;
    z-index: 1;
    margin-right: 20px;
    margin-top: 50px;
    position: sticky;
    top: 150px;
}

aside p{
    font-family: "Sansation-bold";
    font-size: 18px;
    padding: 10px 0;
    text-align: right;
    text-decoration: underline;
}

aside ul{
    list-style: none;
}

aside li{
    font-family: "Sansation-regular";
    font-size: 18px;
}

/*Secciones*/

.seccion-principal{
    padding-bottom: 25px;
    background-color: var(--secondary-background-color);
    padding-top: 100px;
    min-height: calc(100vh - 80px);
}

.seccion{
    padding: 25px 20px;
    padding-bottom: 0;
    width: 100%;
    justify-items: center;
}

/*Sección proyectos*/

.tarjeta {
    background-color: var(--card-color);
    border-radius: 10px;
    box-shadow: var(--shadow-mobile);
    width: calc(100% - 20px);
    margin: 30px 10px;    
    text-align: center;
    scroll-snap-type: start;
    scroll-snap-align: center;
    scroll-margin-top: 100px;
    list-style: none;
}

.tarjeta img{
    width: 100%;
    padding: 10px;
    padding-bottom: 0px;
    min-width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    border-radius: 15px; /*Ponemos un border-radius de padding + 5 ya que estamos en border-box*/
}

.tarjeta h3{
    font-family: "Sansation-light";
    font-size: 24px;
    padding: 10px 0px;
}

.tarjeta p{
    font-family: "SourceSans3-light";
    font-size: 14px;
    padding: 10px;
    padding-top: 0px;
}

/*Footer*/

footer{
    background-color: var(--primary-background-color);
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.footer-izquierda, .footer-derecha{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-izquierda div, .footer-derecha div{
    background-color: var(--primary-background-color);
    padding: 0 10px;
    border-radius: 5px;
    transition: 1s;
}

.footer-izquierda div:hover{
    box-shadow: var(--shadow-mobile);
    cursor: pointer;
}

.footer-derecha div:hover{
    cursor: pointer;
}

.footer-izquierda p{
    text-align: left;
}

.footer-derecha p{
    text-align: right;
}

/*Flecha arriba*/

.arriba{
    background-color: var(--primary-background-color);
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    box-shadow: var(--shadow-mobile);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}

.arriba img{
    height: 25px;
    width: auto;
}

.arriba.ajustado{
    bottom: 90px;
}

/*Botón de cookies*/

.cookie-popup{
    position: fixed;
    bottom: 20px;
    padding: 10px;
    background-color: var(--button-color);
    margin: 0 10px;
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 4;
}

.cookie-popup.show{
    display: flex;
}

.cookie-popup button{
    background-color: var(--primary-background-color);
    padding: 3px 10px;
    box-shadow: var(--shadow-mobile);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.cookie-popup p{
    font-family: "Sansation-light";
    padding: 5px;
}

.cookie-popup a{
    font-family: "Sansation-regular";
    text-decoration: underline;
}

/*Tema oscuro*/

.seccion-principal.oscuro{
    background-color: var(--dark-secondary-background-color);
    color: var(--dark-font-color);
}

.tarjeta.oscuro{
    background-color: var(--dark-card-color);
    box-shadow: var(--dark-shadow-mobile);
}

.boton-toggle.oscuro{
    background-color: var(--button-color);
    box-shadow: var(--shadow-mobile);
}

.arriba.oscuro{
    box-shadow: var(--dark-shadow);
}

.menu-lateral.oscuro{
    background-color: var(--dark-secondary-background-color);
    color: var(--dark-font-color);
}

.menu-lateral.oscuro a{
    color: var(--dark-font-color);
}

#zonaPrincipal.oscuro{
    background-color: var(--dark-secondary-background-color);
}

/*Media querys*/

@media (min-width: 600px){

    :root{
        --shadow: 4px 4px 8px rgb(0,0,0,0.5);
        --dark-shadow: 4px 4px 8px rgb(114,113,111,1);
    }

    h2{
        font-size: 40px;
    }

    p{
        font-size: 20px;
    }

    /*Barra de navegación*/

    .barra-navegacion{
        height: 100px;
    }

    .barra-navegacion div{
        height: 80px;
        width: 80px;
    }

    .barra-navegacion img{
        height: 50px;
        margin: 15px;
    }

    /*Menú hamburguesa*/

    #desplegado p{
        font-size: 20px;
    }

    #desplegado li{
        font-size: 20px;
    }

    /*Secciones*/

    #zonaPrincipal{
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .seccion-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seccion{
        padding: 25px 50px;
        max-width: 500px;
    }

    .tarjeta {
        border-radius: 20px;
        width: 440px;
        margin: 20px 50px;
    }

    .tarjeta img{
        padding: 20px;
        border-radius: 30px;
    }

    .tarjeta h3{
        font-size: 32px;
        padding: 20px 0px;
    }

    .tarjeta p{
        font-size: 20px;
        padding: 20px;
        padding-top: 0px;
    }

    /*Footer*/

    footer{
        height: 100px;
    }

    .footer-izquierda div, .footer-derecha div{
        border-radius: 10px;
    }

    /*Cookies*/
    
    .cookie-popup{
        margin: 0 50px;
        padding: 20px;
        border-radius: 20px;
    }

    .cookie-popup button{
        background-color: var(--primary-background-color);
        padding: 5px 20px;
        border-radius: 10px;
        font-size: 20px;
    }

    /*Botón arriba*/

    .arriba{
        width: 60px;
        height: 60px;
        right: 20px;
    }

    .arriba img{
        height: 40px;
    }

}

@media (min-width: 1600px){

    /*Menú navegación*/

    .barra-navegacion{
        padding-right: 50px;
        grid-template-columns: 0 1fr 1fr;;
    }

    .menu-hamburguesa{
        width: 0;
    }

    #noDesplegado{
        display: none;
    }

    .boton-inicio{
        justify-content: left;
        padding-left: 50px;
    }

    /*Zona principal*/

    #zonaPrincipal{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }

    aside{
        display: flex;
    }

    .seccion-principal{
        flex-wrap: wrap;
        flex-direction: row;
        padding-right: 220px;
        padding-left: 50px;
        gap: 20px;
        width: calc(100% - 220px);
    }

    .seccion{
        max-width: none;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .seccion h2{
        text-align: left;
    }

    .tarjetas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 50px;
        padding: 0;
        margin: 0;
    }

    .tarjeta{
        width: calc(50% - 25px);
        padding: 0;
        margin: 0;
    }

}